<div>
    <h1> {{ message.title }} </h1>
    <form class="from_to"
        hx-post="/message-edit/from_to"
        hx-trigger="change"
        hx-ext="json-enc"
        hx-target=".plot-pannel"
        >
        <input type="hidden" name="order" value="{{message.order}}"></input>
        <select name="from" id="from-actors-select">
            {% for actor in message.sender.plot.actors %}
                {% if actor != message.sender %}
                    <option value="{{ actor.column }}" {% if actor.column == message.sender.column %} selected {% endif %} >{{ actor }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <i class="fa-solid fa-arrow-right"></i>
        <select name="to" id="to-actors-select">
            {% for actor in message.sender.plot.actors %}
                {% if actor != message.reciever %}
                    <option value="{{ actor.column }}" {% if actor.column == message.receiver.column %} selected {% endif %} >{{ actor }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    <textarea>{{message.data|json}}</textarea>
</div>