<div class="plot" id="plot-{{plot.id}}">
    <style> #plot-{{plot.id}} * { --nb-actors: {{plot.actors|length}}; } </style>
    <div class="actors">
        {% for actor in plot.actors %}
            <div class="actor" id="actor-{{actor.column}}"
                hx-get="/actor-edit/{{plot.id}}/{{actor.column}}"
                hx-target=".options-pannel"
                hx-trigger="click"
                hx-on:click="select_actor({{actor.column}})"
            >
                {{actor.name}}
            </div>
        {% endfor %}
    </div>
    <div class="messages">
    {% for message in plot.messages %}
        <div class="message" id="message-{{message.order}}"
            hx-get="/message-edit/{{plot.id}}/{{message.order}}"
            hx-target=".options-pannel"
            hx-trigger="click"
            hx-on:click="select_message({{message.order}})">
            {% for actor in plot.actors %}
                <div
                    {% if actor == message.left %}
                        class="plot-column left"
                        plt-from="{{actor.column}}"
                    {% elif actor == message.right %}
                        class="plot-column right"
                        plt-to="{{actor.column}}"
                    {% elif actor.column < message.left.column %}
                        class="plot-column before"
                    {% elif actor.column > message.right.column %}
                        class="plot-column after"
                    {% else %}
                        class="plot-column between"
                    {% endif %}
                    {% if actor == message.sender %}
                        plt-sender="{{actor.column}}"
                    {% endif %}
                    {% if actor == message.receiver %}
                        plt-receiver="{{actor.column}}"
                    {% endif %}
                    {% if message.bydirectional and actor in (message.receiver, message.sender) %}
                        plt-bydirectional="true"
                    {% endif %}
                    >
                <div class="title">{{message.title}}</div>

                <div class="line"></div>
                <div class="arrow"></div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script>
        function select_message(order) {
            for (let elem of document.querySelectorAll('.plot .selected'))
                elem.classList.remove('selected');
            document.querySelector(`#message-${order}`).classList.add('selected');
        }
        function select_actor(column) {
            console.log(select_actor, column)
            for (let elem of document.querySelectorAll('.plot .selected'))
                elem.classList.remove('selected');
            document.querySelector(`#actor-${column}`).classList.add('selected');
        }
    </script>
</div>