<div class="plot" id="plot-{{plot.id}}">
    <style> #plot-{{plot.id}} * { --nb-actors: {{plot.actors|length}}; } </style>
    <div class="actors">
        {% for actor in plot.actors %}
            <div class="actor" id="actor-{{actor.column}}"
                hx-get="/actor-edit/{{plot.id}}/{{actor.column}}"
                hx-target=".options-pannel"
                hx-trigger="click"
                hx-on:click="select_actor({{actor.column}})"
            >
            <div class="move">
                <i class="fas fa-caret-left" hx-get="/actor-edit/move-left/{{actor.column}}" hx-target=".plot-pannel" hx-on:click="clear_options()"></i>
            </div>
            {{actor.name}}
            <div class="move">
                <i class="fas fa-caret-right" hx-get="/actor-edit/move-right/{{actor.column}}" hx-target=".plot-pannel" hx-on:click="clear_options()"></i>
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="messages">
    {% for message in plot.messages %}
        <div class="message" id="message-{{message.order}}"
            hx-get="/message-edit/{{plot.id}}/{{message.order}}"
            hx-target=".options-pannel"
            hx-trigger="click"
            hx-on:click="select_message({{message.order}})">
            {% for actor in plot.actors %}
                <div
                    {% if actor == message.left %}
                        class="plot-column left"
                        plt-from="{{actor.column}}"
                    {% elif actor == message.right %}
                        class="plot-column right"
                        plt-to="{{actor.column}}"
                    {% elif actor.column < message.left.column %}
                        class="plot-column before"
                    {% elif actor.column > message.right.column %}
                        class="plot-column after"
                    {% else %}
                        class="plot-column between"
                    {% endif %}
                    {% if actor == message.sender %}
                        plt-sender="{{actor.column}}"
                    {% endif %}
                    {% if actor == message.receiver %}
                        plt-receiver="{{actor.column}}"
                    {% endif %}
                    {% if message.bydirectional and actor in (message.receiver, message.sender) %}
                        plt-bydirectional="true"
                    {% endif %}
                    >
                <div class="title">{{message.title}}</div>

                <div class="line"></div>
                <div class="arrow"></div>
                </div>
            {% endfor %}
            <div class="top_down">
                {% if message.order != 0 %}<i class="fa-solid fa-caret-up" hx-get="/message-edit/move-up/{{message.order}}" hx-target=".plot-pannel"></i> {% endif %}
                {% if message.order != plot.messages|length - 1 %}<i class="fa-solid fa-caret-down" hx-get="/message-edit/move-down/{{message.order}}" hx-target=".plot-pannel"></i> {% endif %}
            </div>
    </div>
    {% endfor %}
    </div>
    <script>
        function select_message(order) {
            for (let elem of document.querySelectorAll('.plot .selected'))
                elem.classList.remove('selected');
            document.querySelector(`#message-${order}`).classList.add('selected');
        }
        function select_actor(column) {
            console.log(select_actor, column)
            for (let elem of document.querySelectorAll('.plot .selected'))
                elem.classList.remove('selected');
            document.querySelector(`#actor-${column}`).classList.add('selected');
        }
        function clear_options() {
            window.setTimeout(() => {
                document.querySelector(".options-pannel").innerHTML = "";
            }, 100);
        }
    </script>
</div>